<?xml version = "1.0" encoding = "UTF-8"?>
<web-app    xmlns="http://java.sun.com/xml/ns/javaee" 
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
            xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_5_0.xsd" 
            version="5.0">
            
    <!-- Déclaration du Servlet -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/assets/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>Success</servlet-name>
        <jsp-file>/success.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>PrevisionPage</servlet-name>
        <jsp-file>/prevision.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>DepensePage</servlet-name>
        <jsp-file>/depense.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>EtatPage</servlet-name>
        <jsp-file>/etat.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/home.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>Control</servlet-name>
        <servlet-class>main.java.com.itu.Login.UIFormServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Form</servlet-name>
        <servlet-class>main.java.com.itu.Login.UIFormServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Prevision</servlet-name>
        <servlet-class>main.java.com.itu.Prevision.PrevisionServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Depense</servlet-name>
        <servlet-class>main.java.com.itu.Depense.DepenseServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Etat</servlet-name>
        <servlet-class>main.java.com.itu.Etat.EtatServlet</servlet-class>
    </servlet>


    <!-- Déclaration de l'URL pattern pour ce Servlet -->

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Form</servlet-name>
        <url-pattern>/form</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/control</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Success</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PrevisionPage</servlet-name>
        <url-pattern>/prevision</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DepensePage</servlet-name>
        <url-pattern>/depense</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EtatPage</servlet-name>
        <url-pattern>/etat</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Prevision</servlet-name>
        <url-pattern>/insererprevision</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Depense</servlet-name>
        <url-pattern>/insererdepense</url-pattern>
    </servlet-mapping>
    
</web-app>
